<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}">
<!-- 2023/02/014 이원정 admin product searched list 기능 구현 -->
<th:block layout:fragment="main">
    <section id="admin-product-list">
        <nav>
            <h3>상품목록</h3>
            <p>
                HOME > 상품관리 >
                <strong>상품목록</strong>
            </p>
        </nav>
        <section>
            <div>
                <form id="searchForm" th:action="@{/admin/product/search}" method="GET">
                    <select>
                        <option value="prodName">상품명</option>
                        <option value="prodNo">상품코드</option>
                        <option value="company">제조사</option>
                        <option value="seller">판매자</option>
                    </select>
                    <input type="text" name="keyword" placeholder="검색어를 입력하세요.">
                    <button type="submit" class="btnSearch"><span>검색</span></button>
                </form>


            </div>
            <div>
                <input type="hidden" name="seller" th:value="${#authentication.principal.user.uid}">
                <input type="hidden" name="level" th:value="${#authentication.principal.user.level}">
                <!--/*<input type="text" th:value="${seller.uid}">*/-->
            </div>

            <table>
                <tr>
                    <th><input type="checkbox" name="all"></th>
                    <th>이미지</th>
                    <th>상품코드</th>
                    <th>상품명</th>
                    <th>판매가격</th>
                    <th>할인율</th>
                    <th>포인트</th>
                    <th>재고</th>
                    <th>판매자</th>
                    <th>조회</th>
                    <th>관리</th>
                </tr>
                <th:block th:if="${products == null}">
                    <td colspan="11" style="color:red">등록된 상품이 없습니다.</td>
                </th:block>
                <th:block th:unless="${products == null}">
                    <tr th:each="product:${products}">
                        <td><input type="checkbox" name="상품코드"></td>
                        <td><img th:src="|@{/}thumb/${product.cate1}/${product.cate2}/${product.thumb1}" class="thumb"></td>
                        <td th:text="${product.prodNo}">201603292</td>
                        <td th:text="${product.prodName}">FreeMovement BLUEFORCE</td>
                        <td th:text="${product.price}">36,000</td>
                        <td th:text="${product.discount}">10</td>
                        <td th:text="${product.point}">360</td>
                        <td th:text="${product.stock}">400</td>
                        <td th:text="${product.seller}">홍길동</td>
                        <td th:text="${product.hit}">126</td>
                        <td>
                            <a href="#">[삭제]</a>
                            <a href="#">[수정]</a>
                        </td>
                    </tr>
                </th:block>
            </table>
            <input type="button" value="선택삭제">
            <div class="paging">
                <span th:if="${paging.groupStart gt 1}" class="prev">
                    <a th:href="|@{/}admin/product/list/${paging.groupStart-1}|"><&nbsp;이전</a>
                </span>
                <span class="num">
                    <th:block th:each="i:${#numbers.sequence(paging.groupStart, paging.groupEnd)}">
                        <a th:href="|@{/}admin/product/list/${i}|" th:classappend="${paging.currentPage eq i ? 'on' : ''}" th:text="${i}"></a>
                    </th:block>
                </span>
                <span th:if="${paging.groupEnd lt paging.lastPage}" class="next">
                    <a th:href="|@{/}admin/product/list/${paging.groupEnd+1}|">다음&nbsp;></a>
                </span>
            </div>
        </section>
        <p class="ico info">
            <strong>Tip!</strong>
            전자상거래 등에서의 상품 등의 정보제공에 관한 고시에 따라
            총 34개 상품군에 대해 상품 특성 등을 양식에 따라 입력할 수
            있습니다.
        </p>
    </section>
</th:block>
</html>