<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <section id="cs">
    <div class="qna">
      <nav>
        <div>
          <p>홈<span>></span>문의하기</p>
        </div>
      </nav>
      <section class="list">
        <aside>
          <h2>문의하기</h2>
          <ul>
            <li th:classappend="${cate2}=='user' ? 'on'"><a th:href="@{/cs/list(cate1=qna, cate2=user, pg=1)}">회원</a></li>
            <li th:classappend="${cate2}=='coupon' ? 'on'"><a th:href="@{/cs/list(cate1=qna, cate2=coupon, pg=1)}">쿠폰/이벤트</a></li>
            <li th:classappend="${cate2}=='order' ? 'on'"><a th:href="@{/cs/list(cate1=qna, cate2=order, pg=1)}">주문/결제</a></li>
            <li th:classappend="${cate2}=='delivery' ? 'on'"><a th:href="@{/cs/list(cate1=qna, cate2=delivery, pg=1)}">배송</a></li>
            <li th:classappend="${cate2}=='cancel' ? 'on'"><a th:href="@{/cs/list(cate1=qna, cate2=cancel, pg=1)}">취소/반품/교환</a></li>
            <li th:classappend="${cate2}=='travel' ? 'on'"><a th:href="@{/cs/list(cate1=qna, cate2=travel, pg=1)}">여행/숙박/항공</a></li>
            <li th:classappend="${cate2}=='safeDeal' ? 'on'"><a th:href="@{/cs/list(cate1=qna, cate2=safeDeal, pg=1)}">안전거래</a></li>
          </ul>
        </aside>
</html>