<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<th:block th:replace="~{cs/_header}"/>
<th:block th:replace="~{cs/board/__${cate1}__}"/>

        <article>
          <th:block th:switch="${#strings.toString(cate1)}">
            <th:block th:case="_notice">
              <nav th:if="${cate2}=='all'">
                <h1>전체</h1>
                <h2>전체 공지사항입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='service'">
                <h1>고객서비스</h1>
                <h2>고객서비스 공지사항입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='safeDeal'">
                <h1>안전거래</h1>
                <h2>안전거래 공지사항입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='xproduct'">
                <h1>위해상품</h1>
                <h2>위해상품 공지사항입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='great'">
                <h1>이벤트당첨</h1>
                <h2>이벤트당첨 공지사항입니다.</h2>
              </nav>
              <table>
                <th:block th:each="art,index:${articles}">
                  <tr>
                    <td><a th:href="@{/cs/view(cate1=notice, cate2=${art.cate2}, csNo=${art.csNo}, pg=${pg})}">[[${art.title}]]</a></td>
                    <td>[[${art.rdate}]]</td>
                  </tr>
                </th:block>
              </table>
              <div class="page">
                <th:block th:if="${groups[0] > 1}">
                  <a th:href="@{/cs/list(pg=${groups[0] - 1})}" class="prev">이전</a>
                </th:block>
                <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                  <a th:href="@{/cs/list(cate1=notice, cate2=${cate2}, pg=${num})}" th:class="${num==currentPage? 'num on' : 'num'}">[[${num}]]</a>
                </th:block>
                <th:block th:if="${groups[1] < lastPage}">
                  <a th:href="@{/cs/list(pg=${groups[1] + 1})}" class="next">다음</a>
                </th:block>
              </div>
            </th:block>

            <th:block th:case="_faq">
              <nav th:if="${cate2}=='user'">
                <h1>회원</h1>
                <h2>회원관련 가장 자주 묻는 질문입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='coupon'">
                <h1>쿠폰/이벤트</h1>
                <h2>쿠폰/이벤트관련 가장 자주 묻는 질문입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='order'">
                <h1>주문/결제</h1>
                <h2>주문/결제관련 가장 자주 묻는 질문입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='delivery'">
                <h1>배송</h1>
                <h2>배송관련 가장 자주 묻는 질문입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='cancel'">
                <h1>취소/반품/교환</h1>
                <h2>취소/반품/교환관련 가장 자주 묻는 질문입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='travel'">
                <h1>여행/숙박/항공</h1>
                <h2>여행/숙박/항공관련 가장 자주 묻는 질문입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='safeDeal'">
                <h1>안전거래</h1>
                <h2>안전거래관련 가장 자주 묻는 질문입니다.</h2>
              </nav>
              <th:block th:each="faq:${faqs}">
                <div>
                  <h3>[[${faq.key}]]</h3>
                  <ul>
                  <th:block th:each="art,index:${faq.value}">
                    <th:block th:if="${index.count} > 3">
                      <li class="hide">
                        <a th:href="@{/cs/view(cate1=faq, cate2=${art.cate2}, csNo=${art.csNo}, pg=${pg})}"><span>Q.</span>[[${art.title}]]</a>
                      </li>
                    </th:block>
                    <th:block th:unless="${index.count} > 3">
                      <li>
                        <a th:href="@{/cs/view(cate1=faq, cate2=${art.cate2}, csNo=${art.csNo}, pg=${pg})}"><span>Q.</span>[[${art.title}]]</a>
                      </li>
                    </th:block>
                  </th:block>
                  <li class="open"><a href="#">더보기</a></li>
                  <li class="close"><a href="#">간단히보기</a></li>
                  </ul>
                </div>
                </th:block>
              </th:block>

            <th:block th:case="_qna">
              <nav th:if="${cate2}=='user'">
                <h1>회원</h1>
                <h2>회원관련 문의 내용입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='coupon'">
                <h1>쿠폰/이벤트</h1>
                <h2>쿠폰/이벤트관련 문의 내용입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='order'">
                <h1>주문/결제</h1>
                <h2>주문/결제관련 문의 내용입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='delivery'">
                <h1>배송</h1>
                <h2>배송관련 문의 내용입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='cancel'">
                <h1>취소/반품/교환</h1>
                <h2>취소/반품/교환관련 문의 내용입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='travel'">
                <h1>여행/숙박/항공</h1>
                <h2>여행/숙박/항공관련 문의 내용입니다.</h2>
              </nav>
              <nav th:if="${cate2}=='safeDeal'">
                <h1>안전거래</h1>
                <h2>안전거래관련 문의 내용입니다.</h2>
              </nav>
              <table>
                <th:block th:each="art,index:${articles}">
                  <tr>
                    <td><a th:href="@{/cs/view(cate1=qna, cate2=${art.cate2}, csNo=${art.csNo}, pg=${pg})}">[[${art.title}]]</a></td>
                    <td>[[${art.uidMasking}]]</td>
                    <td>[[${art.rdate}]]</td>
                  </tr>
                </th:block>
              </table>
              <div class="page">
                <th:block th:if="${groups[0] > 1}">
                  <a th:href="@{/cs/list(pg=${groups[0] - 1})}" class="prev">이전</a>
                </th:block>
                <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                  <a th:href="@{/cs/list(cate1=qna, cate2=${cate2}, pg=${num})}" th:class="${num == currentPage ? 'num on' : 'num'}">[[${num}]]</a>
                </th:block>
                <th:block th:if="${groups[1] < lastPage}">
                  <a th:href="@{/cs/list(pg=${groups[1] + 1})}" class="next">다음</a>
                </th:block>
              </div>
              <a th:href="@{/cs/write(cate1=qna)}" class="btnWrite">문의하기</a>
            </th:block>
          </th:block>

          </article>
          </section>
          </div>
          </section>
<th:block th:replace="~{cs/_footer}"/>
</html>