/*** 공통 ***/
* {margin: 0; padding: 0; font:normal 12px "Noto Sans CJK KR";}
ul, ol {list-style: none;}
#wrppaer {width: 100%;}
a {text-decoration: none; color: #111;}
input, textarea {outline: none;}

/*** 헤더 ***/
header {
    width: 100%;
    height: 197px;
}
header > .top {
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
}
header > div {width: 100%; box-sizing: border-box;}
header > .top > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: right;
}
header > .top > div > a {
    display: inline-block;
    height: 100%;
    line-height: 35px;
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
    color: #646464;
}
header > .top > div > a:hover {color: #333; border-bottom: 1px solid #444;}
header > .top > div > a:last-child {border-right: 1px solid #e9e9e9;}
header > .logo {
    height: 115px;
    border-bottom: 1px solid #e9e9e9;
}
header > .logo > div {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header > .logo > div > a {
    display: inline-block;
    margin-top: 30px;
}
header > .logo > div > form {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -185px;
    margin-top: -22px;
    display: inline-block;
    width: 370px;
    height: 45px;
}
header > .logo > div > form > input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 30px;
    box-sizing: border-box;
}
header > .logo > div > form > button {
    position: absolute;
    right: 6px;
    top: 10px;
    background: #fff;
    border: none;
    font-size: 20px;
    color: #333;
    outline: none;
}
header > .menu {
    height: 46px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
header > .menu > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header > .menu > div > ul {display: inline-block; margin-top: 16px;}
header > .menu > div > ul:nth-child(1) {float: left;}
header > .menu > div > ul:nth-child(2) {float: right;}
header > .menu > div > ul > li {float: left;}
header > .menu > div > ul > li > a {border-left: 1px solid #e9e9e9; padding: 0 10px;}
header > .menu > div > ul > li:last-child > a {border-right: 1px solid #e9e9e9;}

/*** 메인 공통 ***/
main {
width: 1200px;
height: auto;
margin: 0 auto;
overflow: hidden;
}
main > aside {
    float: left;
    width: 215px;
    height: 100%;
}
main > aside > .category {
    position: relative;
    width: 100%;
    height: 425px;
    background: #333949;
}
main > aside > .category > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ccc;
    font-size: 13px;
    border-bottom: 1px solid #2b313f;
    box-sizing: border-box;
}
main > aside > .category > li:first-child {
    padding: 0 20px;
    color: #fff;
    line-height: 40px;
}
main > aside > .category i {
    width: 22px;
    font-size: 16px;
    margin-right: 12px;
}
main > aside > .category i.fa-angle-right {
    float: right;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
}
main > aside > .category > li > a {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    color: #ccc;
    text-decoration: none;
    font-size: 1em;
}
main > aside > .category > li > a:hover {background: #2b313f; color: #fff;}
main > aside > .category > li > a:hover + ol {display: block;}
main > aside > .category ol {
    position: absolute;
    left: 215px;
    top: 0;
    display: none;
    width: 215px;
    height: 100%;
    border: 1px solid #787f89;
    background: #fff;
    box-sizing: border-box;
    z-index: 10000;
}
main > aside > .category ol:hover {display: block;}
main > aside > .category ol > li {
    width: 100%;
    height: 24px;
    padding: 10px;
    box-sizing: border-box;
}
main > aside > .category ol > li > a:hover {
    color: #41ab47;
    text-decoration: underline;
}

main > section {
    float: right;
    width: 985px;
    height: auto;
    box-sizing: border-box;
}

/*** 서비스이용약관 ***/

#termsPolicy > section {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
#termsPolicy > section > nav {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
}
#termsPolicy > section > nav > h1 {float: left; font-size: 26px;}
#termsPolicy > section > nav > ul {float: right; overflow: hidden;}
#termsPolicy > section > nav > ul > li {
    float: left;
    width: 20%;
    height: 100%;
}
#termsPolicy > section > nav > ul > li > a {
    display: block;
    width: 112px;
    height: 93px;
    font-size: 0;
    background-image: url(/img/terms_sprites.png);
    margin-left: 10px;
}
#termsPolicy > section > nav > ul > li:nth-child(1) > a {background-position: 0 -150px;}
#termsPolicy > section > nav > ul > li:nth-child(1) > a:hover {background-position: 0 -250px;}
#termsPolicy > section > nav > ul > li:nth-child(1).on > a {background-position: 0 -250px;}
#termsPolicy > section > nav > ul > li:nth-child(2) > a {background-position: -130px -150px;}
#termsPolicy > section > nav > ul > li:nth-child(2) > a:hover {background-position: -130px -250px;}
#termsPolicy > section > nav > ul > li:nth-child(2).on > a {background-position: -130px -250px;}
#termsPolicy > section > nav > ul > li:nth-child(3) > a {background-position: -260px -150px;}
#termsPolicy > section > nav > ul > li:nth-child(3) > a:hover {background-position: -260px -250px;}
#termsPolicy > section > nav > ul > li:nth-child(3).on > a {background-position: -260px -250px;}
#termsPolicy > section > nav > ul > li:nth-child(4) > a {background-position: -390px -150px;}
#termsPolicy > section > nav > ul > li:nth-child(4) > a:hover {background-position: -390px -250px;}
#termsPolicy > section > nav > ul > li:nth-child(4).on > a {background-position: -390px -250px;}
#termsPolicy > section > nav > ul > li:nth-child(5) > a {background-position: -520px -150px;}
#termsPolicy > section > nav > ul > li:nth-child(5) > a:hover {background-position: -520px -250px;}
#termsPolicy > section > nav > ul > li:nth-child(5).on > a {background-position: -520px -250px;}
#termsPolicy > section > article {width: 100%; height: 100%;}
#termsPolicy > section > article > h2 {
    font-size: 14px;
    font-family: '돋움';
    font-weight: bold;
    color: #222;
}
#termsPolicy > section > article > p {
    padding: 26px 0;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
}
#termsPolicy > section > article > p > .tit {
    display: block;
    font-size: 13px;
    font-family: '돋움';
    font-weight: bold;
}
#termsPolicy > section > article > p > .content {font-family: '돋움'; color: #888;}


/*** 푸터 ***/
footer {
    width: 100%;
    height: 192px;
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
}
footer > ul {
    width: 1200px;
    height: 39px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    text-align: center;
}
footer > ul > li {
    display: inline-block;
    font-weight: bold;
    border-right: 1px solid #d7d7d7;
    padding: 0 10px;
}
footer > ul > li:first-child {border-left: 1px solid #d7d7d7;}
footer > div {
    width: 1200px;
    height: auto;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}
footer p {
    float: left;
    height: 100%;
    font-size: 11px;
    line-height: 15px;
    color: #676767;
}
footer p:nth-of-type(2){
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
}
footer p > strong {
    display: inline-block;
    padding: 6px 15px 7px 0;
    color: #464646;
    font-size: 12px;
    font-weight: bold;
}  

/*** 상단이동 ***/
#top {
    position: fixed;
    left: 50%;
    bottom: 10px;
    margin-left: 600px;
    display: none;
    width: 42px;
    height: 42px;
    background-image: url(./member/img/top.png);
    border: none;
    font-size: 0;
    cursor: pointer;
}