<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" th:src="@{/smarteditor/js/HuskyEZCreator.js}" charset="utf-8"></script>
    <script th:src="@{/js/zipcode.js}"></script>
    <script th:src="@{/js/popup.js}"></script>
    <script th:src="@{/js/jquery.star-rating-svg.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/my.css}">
</head>
<body>
<div id="wrapper">
    <header>
        <div class="top">
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/member/logout}">로그아웃</a>
                <a th:href="@{/my/home}">마이페이지</a>
                <a href="#">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    장바구니
                </a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/member/login}">로그인</a>
                <a th:href="@{/member/join}">회원가입</a>

            </div>
        </div>
        <div class="logo">
            <div>
                <a th:href="@{/index}"><img th:src="@{/img/header_logo.png}" alt="로고"/></a>
                <form action="#">
                    <input type="text" name="search"/>
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </header>
    <div id="my">
        <nav>
            <div>
                <a th:href="@{/my/home}"><img th:src="@{/img/my_logo.jpg}" alt="나의쇼핑정보"></a>
                <ol>
                    <li><a th:href="@{/my/ordered}">주문·배송<span class="delivery">[[${orderCount}]]</span></a></li>
                    <li><a th:href="@{/my/coupon}">할인쿠폰<span class="coupon">[[${couponCount}]]</span></a></li>
                    <th:block th:if="${pointSum != null}">
                        <li><a th:href="@{/my/point}">포인트<span class="point">[[${pointSum}]]</span></a></li>
                    </th:block>
                    <th:block th:unless="${pointSum != null}">
                        <li><a th:href="@{/my/point}">포인트<span class="point">0</span></a></li>
                    </th:block>
                    <li><a th:href="@{/my/qna}">문의내역<span class="qna">[[${csCount}]]</span></a></li>
                </ol>
            </div>
        </nav>