<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{my/_header}"/>
            <div class="qna">
                <ul>
                    <span class="menu_else"></span>
                    <li><a th:href="@{/my/ordered}">전체주문내역</a></li>
                    <!--<li><a href="./favorite.html">관심상품</a></li>-->
                    <li><a th:href="@{/my/point}">포인트내역</a></li>
                    <li><a th:href="@{/my/coupon}">쿠폰</a></li>
                    <li><a th:href="@{/my/review}">나의리뷰</a></li>
                    <li class="on"><a th:href="@{/my/qna(pg=1)}">문의하기</a></li>
                    <li><a th:href="@{/my/info}">나의설정</a></li>
                </ul>

                <div id="qnaPop" class="qnaPop">
                    <div>
                        <nav>
                            <h1>문의하기</h1>
                            <button></button>
                        </nav>
                    </div>
                </div>
                <section>
                    <a href="#"><img th:src="@{/img/my_banner2.png}" alt="패션, 타운 하나로 끝" class="banner"></a>
                    <article>
                        <h3>문의하기</h3>

                        <table border="0">
                            <tr>
                                <th>번호</th>
                                <th>문의채널</th>
                                <th>문의유형</th>                                
                                <th>제목</th>
                                <th>작성일</th>
                                <th>상태</th>
                            </tr>
                            <th:block th:each="art,index:${articles}">
                            <tr>
                                <td class="csNo">[[${pageStartNum - index.index}]]</td>
                                <td class="channel">고객센터</td>
                                <td class="type">[[${art.type}]]</td>
                                <td class="title"><a href="#">[[${art.title}]]</a></td>
                                <td class="rdate">[[${art.rdate}]]</td>
                                <th:block th:if="${#strings.isEmpty(art.comment)}">
                                    <td class="status"><span class="notAnswerYet">검토중</span></td>
                                </th:block>
                                <th:block th:unless="${#strings.isEmpty(art.comment)}">
                                    <td class="status"><span class="answered">답변완료</span></td>
                                </th:block>
                            </tr>
                            </th:block>
                        </table>

                        <p class="page">
                            <th:block th:if="${groups[0] > 1}">
                                <span><a th:href="@{/my/qna(pg=${groups[0] - 1})}" class="prev"><&nbsp;이전</a></span>
                            </th:block>
                            <span class="num">
                        <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                            <a th:href="@{/my/qna(pg=${num})}" th:class="${num == currentPage ? 'num on' : 'num'}">[[${num}]]</a>
                        </th:block>
                        </span>
                            <th:block th:if="${groups[1] < lastPage}">
                                <span><a th:href="@{/my/qna(pg=${groups[1] + 1})}" class="next">다음&nbsp;></a></span>
                            </th:block>
                        </p>
                    </article>
                </section>

            </div>
        </div>
<th:block th:replace="~{my/_footer}"/>
</html>